<html>
    <head>

    </head>
    <body>
        <h1>Добрый день</h1>
        <h3>
            Поступила новая заявка с сайта.
        </h3>
        <p>
            <hr>
            <b>Имя:</b> NAME<br>
            <b>Почта:</b> MAIL<br>
            <b>Телефон:</b> PHONE<br>
            <hr>
        </p>
        <p>
            <h3>Имеются следующие документы:</h3>
            <table>
                <tr>
                    <td style="width:220px;">Расписка</td>
                    <td style="width:220px;">RECEIPT</td>
                </tr>
                <tr>
                    <td style="width:220px;">Договор</td>
                    <td style="width:220px;">CONTRACT</td>
                </tr>
                <tr>
                    <td style="width:220px;">Судебное решение</td>
                    <td style="width:220px;">DECISION</td>
                </tr>
                <tr>
                    <td style="width:220px;">Исполнительный лист</td>
                    <td style="width:220px;">LIST</td>
                </tr>
                <tr>
                    <td style="width:220px;">Другой документ</td>
                    <td style="width:220px;">OTHER</td>
                </tr>
            </table>
        </p>
        <hr>
        <h3>
            Дополнительная информация:
        </h3>
        <p>
            TEXT
            <br><br>
        </p>
    </body>
</html>