<html>
    <head>

    </head>
    <body>
        <h1>Добрый день</h1>
        <h3>
            Поступил новый лид с сайта.
        </h3>
        <p>
            <hr>
            <b>Имя:</b> NAME<br>
            <b>Почта:</b> MAIL<br>
        </p>
    </body>
</html>