<html>
    <head>

    </head>
    <body>
        <h1>Добрый день</h1>
        <h3>
            Поступила заявка на обратный звонок с сайта.
        </h3>
        <p>
            <hr>
            <b>Телефон:</b> PHONE<br>
        </p>
    </body>
</html>