/* - >
        Components header
< - */
.block-header{
    padding-top: 48px;
    padding-bottom: 32px;
}
.brand-logo__header__sm{
    display: none;
    width: 84px;
}
.brand-logo__header{
    display: inherit;
    width: 100%;
    max-width: 320px;
}
.block-header__phone{
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}
.block-header__subtitle{
    font-weight: 700;
}
@media (max-width: 750px) {
    .block-header__subtitle{
        font-size: 14px;
    }
}
@media (max-width: 998px) {
    .block-header{
        padding-top: 32px;
        padding-bottom: 28px;
    }
    .brand-logo__header__sm{
        display: inherit;
    }
    .brand-logo__header{
        display: none;
    }
}
@media (max-width: 625px) {
    .block-header{
        padding-top: 28px;
        padding-bottom: 24px;
    }
    .block-header__subtitle{
        display: none;
    }
    .block-header__phone{
        line-height: 64px;
    }
}
@media (max-width: 500px) {
    .block-header{
        padding-top: 24px;
        padding-bottom: 20px;
    }
    .brand-logo__header__sm{
        width: 64px;
    }
    .block-header__phone{
        line-height: 48px;
        font-size: 20px;
    }
}



/* - >
        Components Intro
< - */
.block-intro{
    background: no-repeat right bottom;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    min-height: 500px;
    width: 100%;
    padding: 0;
}
@media (max-width: 991px) {
    .block-intro {
        background: none!important;
    }
}



/* - >
        Components team
< - */
.block-team{
    max-width: 880px;
}
.block-team__content{
    padding-top: 32px;
}



/* - >
        Portfolio
< - */
.block__portfolio_wall{
    background: no-repeat center center;
    background-blend-mode: soft-light;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}
.coverflow__figure__3bk_C{
    width: 310px!important;
    border: 16px solid #fff;
    box-shadow: 0 4px 31px rgba(0, 0, 0, 0.3) !important;
}
.coverflow__container__1P-xE{
    background: none!important;
    box-shadow: none!important;
}
.coverflow__container__1P-xE:focus{
    outline: 0;
}
@media (max-width: 690px) {
    .coverflow__container__1P-xE{
        height: 340px!important;
    }
    .coverflow__figure__3bk_C {
        width: 290px!important;
    }
}
@media (max-width: 590px) {
    .coverflow__container__1P-xE{
        height: 300px!important;
    }
    .coverflow__figure__3bk_C {
        width: 250px!important;
    }
}
@media (max-width: 550px) {
    .coverflow__container__1P-xE{
        height: 280px!important;
    }
    .coverflow__figure__3bk_C {
        width: 230px!important;
        border: none;
    }
}
@media (max-width: 500px) {
    .coverflow__container__1P-xE{
        height: 250px!important;
    }
    .coverflow__figure__3bk_C {
        width: 200px!important;
    }
}
@media (max-width: 400px) {
    .coverflow__container__1P-xE{
        height: 220px!important;
    }
    .coverflow__figure__3bk_C {
        width: 170px!important;
    }
}



/* - >
        Feedback
< - */
.block-feedback{
    padding-top: 24px;
    padding-bottom: 42px;
}
.block-feedback__content{
    padding-top: 20px;
}
.form-control{
    border-radius: 0;
    resize: none;
    height: 30px;
}
.form-textarea{
    min-height: 150px;
    border: 1px solid #999;
    padding: 8px;
    color: #595959;
}
.form-textarea:focus{
    box-shadow: none;
    border-color: #61221d;
    outline: 0;
}
.form-control{
    border: 1px solid #999;
}
.form-control:focus{
    box-shadow: none;
    border-color: #61221d;
    outline: 0;
}
.form-textarea:active{
    box-shadow: none;
    border-color: #61221d;
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block, .has-success,
.radio, .has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label, .has-success.radio-inline label {
    color: #9c9e9e;
}
.has-success .form-control{
    border-color: #999;
    color: #2b542c;
    font-weight: 700;
}
.has-success .form-control:focus{
    border-color: #999;
    box-shadow: none;
    color: #2b542c;
    font-weight: 700;
}
.block-feedback__button{
    padding-top: 24px;
}
@media (max-width: 768px) {
    .block-feedback__content{
        padding-right: 15px;
        padding-left: 15px;
    }
    .block-feedback__col{
        padding-bottom: 20px;
    }
    .block-feedback__row{
        padding-bottom: 20px;
    }
}



/* - >
        Contacts
< - */
.block-contact{
    padding-bottom: 54px;
}
.ya-maps__border{
    border: 16px solid #fff;
    padding-left: 0;
    padding-right: 0;
}
.block-contact__content{
    padding-top: 32px;
}
@media (min-width: 768px) {
    .block-contact__address-list{
        padding-top: 5%;
        padding-bottom: 0;
    }
}
@media (max-width: 768px) {
    .block-contact__content{
        padding-bottom: 0!important;
    }
    .block-contact__address-list{
        padding-top: 0;
        padding-bottom: 24px;
    }
    .block-contact{
        padding-bottom: 0;
    }
}


/* - >
        Colors
< - */
.text-color__bright-red{
    color: #e32926;
}
.text-color__gray{
    color: #9c9e9e;
}
.text-color__white{
    color: #f7f7f7;
}
.text-color__blood-red{
    color: #61221d;
}
.background-color__blood-red {
    background-color: #61221d;
}
.background-color__bright-red {
    background-color: #e32926;
}
.background-color__gray {
    background-color: #ececec;
}




.lead_btn{
    padding: 8px 12px!important;
}
.lead_btn_pos{
    text-align: right;
    padding-right: 2.5%;
}

.free_btn_pos{
    text-align: center;
    margin-top: 32px;
}

@media (max-width: 767px) {
    .free_btn_pos{
        text-align: left;
        padding-left: 4%;
    }
}

@media (max-width: 991px) {
    .lead_btn_pos{
        text-align: left;
        padding-left: 4%;
    }
}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0;
}


/* - >
        General objects
< - */
body{
    font-size: 16px;
    width: 100%;
    overflow-x: hidden!important;
}
p::selection { background: transparent; cursor: pointer}
p::-moz-selection { background: transparent; cursor: pointer}
h1::selection { background: transparent; cursor: pointer}
h1::-moz-selection { background: transparent; cursor: pointer}
h2::selection { background: transparent; cursor: pointer}
h2::-moz-selection { background: transparent; cursor: pointer}
h3::selection { background: transparent; cursor: pointer}
h3::-moz-selection { background: transparent; cursor: pointer}
h4::selection { background: transparent; cursor: pointer}
h4::-moz-selection { background: transparent; cursor: pointer}
span::selection { background: transparent; cursor: pointer}
span::-moz-selection { background: transparent; cursor: pointer}
div::selection { background: transparent; cursor: pointer}
div::-moz-selection { background: transparent; cursor: pointer}

h1{
    font-size: 80px;
    font-weight: 900;
    letter-spacing: .5px;
}
h2{
    font-size: 34px;
    text-transform: uppercase;
}
h3{
    font-size: 32px;
}
.sm_crutch{max-width: 100%}
@media (max-width: 1199px) {
    .sm_crutch{
        font-size: 25px;
    }
}
@media (max-width: 991px) {
    .sm_crutch{
        font-size: 18px;
    }
}
@media (max-width: 800px) {
    .sm_crutch{
        font-size: 30px;
    }
}
@media (max-width: 781px) {
    .sm_crutch{
        font-size: 28px;
    }
}

@media (max-width: 767px) {
    .sm_crutch{
        font-size: 24px;
        width: 58%;
    }
}
@media (max-width: 450px) {
    .sm_crutch{
        font-size: 23px;
    }
}
ul {
    list-style: none;
    margin-left: 10px;
    padding-left: 0;
}
@media (max-width: 780px) {
    ul {
        margin-bottom: 10px;
    }
}
@media (max-width: 780px) {
    ul {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}
li {
    padding-left: 1em;
    text-indent: -1em;
    font-weight: 700;
}
li:before {
    content: "";
    padding-right: 5px;
}
@media (max-width: 1300px) {
    h1{
        font-size: 55px;
    }
    h2{
        font-size: 30px;
    }
}
@media (max-width: 991px) {
    h1{
        font-size: 64px;
    }
    h2{
        font-size: 26px;
    }

}
@media (max-width: 780px) {
    h1{
        font-size: 60px;
    }
    h2{
        font-size: 24px;
    }
}
@media (max-width: 768px) {
    h1{
        font-size: 56px;
    }
}
@media (max-width: 745px) {
    h1 {
        font-size: 48px;
    }

    .sm_crutch {
        font-size: 22px;
    }
}
@media (max-width: 568px) {
    h1{
        font-size: 42px;
    }
    .sm_crutch{
        max-width: 100%;
        font-size: 20px;
    }

}

@media (max-width: 500px) {
    h1{
        font-size: 36px;
    }

}
@media (max-width: 430px) {
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 24px;
    }
}
@media (max-width: 395px) {
    .sm_crutch{
        font-size: 20px;
        width: 100%;
    }
    h1{
        font-size: 38px;
    }
}
@media (max-width: 345px) {
    h1{
        font-size: 32px;
    }
    .sm_crutch{
        font-size: 18px;
    }
}

.block__footer{
    padding-top: 24px;
    padding-bottom: 24px;
}

/* - >
        Common objects
< - */
.glyphicon{
    padding-right: 8px;
}
.container-fluid{
    padding-right: 0;
    padding-left: 0;
    max-width: 1920px;
}
.text-right{
    text-align: right;
}
.text-bold{
    font-weight: 700;
}
.no-magrin{
    margin: 0;
}
.no-border{
    border: none;
}
.block-content{
    padding-top: 42px;
    padding-bottom: 42px;
}
.thumbnail{
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.thumbnail img{
    -webkit-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    width: 255px;
}
.no-magrin{
    margin: 0;
}
@media (max-width: 767px) {
    .thumbnail__sm{
        padding-left: 25%;
        padding-right: 25%;
    }
    .thumbnail img{
        width: 100%;
    }
}
@media (max-width: 560px) {
    .thumbnail__sm{
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media (max-width: 420px) {
    .thumbnail__sm{
        padding-left: 15%;
        padding-right: 15%;
    }
}




/* - >
        Shapes
< - */
#block-header__triangle-bottom_one{
    float: right;
	width: 5%;
	height: 0;
	border-bottom: 28px solid #fff;
	border-left: 30px solid transparent;
}
#block-header__triangle-bottom_two{
    float: right;
	width: 35%;
	height: 0;
	border-bottom: 28px solid #fff;
	border-left: 30px solid transparent;
}
@media (max-width: 1200px) {
    #block-header__triangle-bottom_two{
        width: 45%;
    }
}
#block-intro__triangle{
    float: right;
	width: 65%;
	height: 0;
	border-bottom: 36px solid #61221d;
	border-left: 45px solid transparent;
}
@media (max-width: 991px) {
    #block-intro__triangle{
        border-bottom: 40px solid #61221d;
    }
}

#block-portfolio__triangle-top{
    width: 45%;
	height: 0;
	border-top: 40px solid #fff;
	border-right: 45px solid transparent;
}
#block-portfolio__triangle-bottom{
    float: right;
	width: 35%;
	height: 0;
	border-bottom: 40px solid #fff;
	border-left: 45px solid transparent;
}
#block-contacts__triangle{
    width: 45%;
	height: 0;
	border-top: 40px solid #fff;
	border-right: 45px solid transparent;
}
#block-lead__triangle-bottom{
    float: right;
	width: 35%;
	height: 0;
	border-bottom: 36px solid #fff;
	border-left: 45px solid transparent;
}

@media (max-width: 625px) {
    #block-header__triangle-bottom_one{
        width: 15%;
    }
    #block-header__triangle-bottom_two{
        width: 35%;
    }
}



.modal-content{
    border-radius: 0px;
}


.notification-info{
    background-color: #e42619!important;
    -webkit-border-radius: none!important;
    -moz-border-radius: none!important;
    border-radius: none!important;
}
.notification-info {
    border:3px solid #fff!important;
    border-radius: 0px!important;
}

.btn {
    border-radius: 0;
    padding: 12px 24px;
    -webkit-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);

}
.btn-default:disabled{
    color: #000;
    font-weight: 700;
    -webkit-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
}
.btn-default:disabled:hover{
    color: #000;
    font-weight: 700;
}
.btn-default{
    background: linear-gradient(to right,#e42619 0,#fd670e 100%);
    color: #fff;
    font-size: 17px;
    text-shadow: none;
    border: none;
    font-weight: 700;
}
.btn-default:hover{
    background-image: linear-gradient(to left,#e42619 0,#fd670e 100%);
    color: #fff;
}

@media (max-width: 768px) {
    .block-feedback__button{
        padding-top: 0px;
    }
}
@media (max-width: 500px) {
    .btn{
        width: 100%;
        font-size: 14px;
        font-weight: 400;
    }
}

.madblackpixels{
    font-weight: 700;
}

.close:focus{
    outline: 0;
}
.intro_wall__sm{
    display: none;
}
.intro_wall{
    position: absolute;
    bottom: -7px;
    right: -113px;
    height: 643px;
}
@media (max-width: 1366px) {
    .intro_wall{
        height: 620px;
        right: -100px;
    }
}
@media (max-width: 1336px) {
    .intro_wall{
        height: 600px;
        right: -80px;
    }
}
@media (max-width: 1300px) {
    .intro_wall{
        height: 600px;
        right: -10px;
    }
}
@media (max-width: 1199px) {
    .intro_wall{
        height: 615px;
        right: -60px;
    }
}
@media (max-width: 1061px) {
    .intro_wall{
        height: 605px;
        right: -50px;
    }
}
@media (max-width: 1035px) {
    .intro_wall{
        height: 590px;
        right: -40px;
    }
}
@media (max-width: 1015px) {
    .intro_wall{
        height: 590px;
        right: -35px;
    }
}
@media (max-width: 999px) {
    .intro_wall{
        height: 590px;
        right: -30px;
    }
}
@media (max-width: 991px) {
    .intro_wall{
        height: 474px;
        right: -40px;
        bottom: -5px;
    }
}
@media (max-width: 800px) {
    .intro_subtitle__sm {
        width: 100%;
    }
}


@media (max-width: 767px) {
    .intro_wall{
        display: none;
    }
    .intro_wall__sm{
        height: 430px;
        display: inherit;
        float: right;
        z-index: -9;
        border-bottom: 1px solid;
        margin-right: 6%;
        margin-top: -168px;
    }
    .intro_ul__sm{
        width: 100%;
        margin-top: -70px;
    }

}
@media (max-width: 490px) {
    .intro_wall__sm{
        height: 333px;
        display: inherit;
        float: right;
        z-index: -9;
        border-bottom: 1px solid;
        margin-right: 6%;
        margin-top: -168px;
    }
}
@media (max-width: 428px) {
    .intro_wall__sm{
        height: 333px;
        display: inherit;
        float: right;
        z-index: -9;
        border-bottom: 1px solid;
        margin-right: 0;
        margin-top: -188px;
    }
    .intro_ul__sm{
        margin-top: 0;
    }
}
@media (max-width: 395px) {
    .intro_wall__sm{
        margin-right: 22%;
    }
    .intro_wall__sm{
        height: 353px;
        margin-right: 16%;
        margin-top: 0;
    }
}

.block-portfolio__content{
    text-align: center;
}



.cards-slider {
    overflow: hidden;
	white-space: nowrap;
	max-width: 1100px;
	height: 100%;
	position: relative;
	display: inline-block;
    background: none;
    margin-top: 45px;
}

.card {
    float: left !important;
	text-align: center;
    width: 25%;
	position: relative;
	display: inline-block;
	left: 0;
	clear: both;
    margin-right: 4%;
    margin-left: 4%;
	float: none !important;
	transition: transform .2s ease-in-out;
	vertical-align: top;
}

.card .title {
  font-weight: 600;
  font-size: 18px;
}

.card .desc {
  font-size: 14px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.card img {
  display: block;
  position: relative;
  width: 100%;
}

.slider-btn {
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
  width: 45px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background: none;
  outline: none;
  position: absolute;
  z-index: 999;
  transition: all 0.6s ease 0s;
}

.slider-btn:hover {
  color: #5f5f5f;
  background: rgba(0,0,0,0.2);
}

.btn-r {
  right: 0;
}
.btn-l {
  left: 0px;
}

@media (max-width: 1030px) {
    .card {
        width: 28%;
        clear: both;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}
@media (max-width: 1030px) {
    .card {
        width: 45%;
        clear: both;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}
@media (max-width: 590px) {
    .card {
        width: 95%;
        clear: both;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    .cards-slider{
        width: 100%;
    }
}