

@-webkit-keyframes rotation {
        0%, 10%{
            -webkit-transform: rotate(-20deg);
        }
        10%, 20%{
            -webkit-transform: rotate(10deg);
        }
        20%, 30%{
            -webkit-transform: rotate(-15deg);
        }
        30%, 40%{
            -webkit-transform: rotate(5deg);
        }
        40%, 50%{
            -webkit-transform: rotate(-10deg);
        }
        50%, 60%{
            -webkit-transform: rotate(0deg);
        }
        50%, 100%{
            -webkit-transform: rotate(0deg);
        }

}

.modal_phone{
    position: fixed;
    right: 2.5%;
    bottom: 15%;
    z-index: 99999;
    background-color: #5ad45c;
    text-align: center;
    border-radius: 10px;
    opacity: .7;
    cursor: pointer;
}


.modal__phone-icon{
    font-size: 42px;
    line-height: 68px;
    margin-left: 7px;
    -webkit-animation: rotation 1s ease-out 1s alternate infinite;
}



.brand-logo__header{
    width: 332px;
}
.block__header{
    padding-top: 54px;
    padding-bottom: 32px;
    z-index: 4;
    position: relative;
}
.block-header__phone{
    font-size: 32px;
    font-weight: 700;
}
.block-header__subtitle{
    font-size: 16px;
    font-weight: 700;
}
.brand-logo__phone{
    width: 68px;
    height: 68px;
}
.block-header__info{
    margin-left: -28px;
}
#block__header-triangle-bottom_one{
	width: 95%;
	border-top: 36px solid #e32926;
	border-right: 36px solid transparent;
}
#block__header-triangle-bottom_two{
	width: 65%;
	border-top: 36px solid #61221d;
	border-right: 36px solid transparent;
}
@media (max-width: 1199px) {
    .brand-logo__header{
        width: 280px;
    }
    .block__header{
        padding-top: 36px;
        padding-bottom: 20px;
    }
    .block-header__phone{
        padding-top: 4px;
        font-size: 26px;
        font-weight: 700;
    }
    .block-header__subtitle{
        font-size: 14px;
        font-weight: 700;
    }
    .brand-logo__phone{
        width: 64px;
        height: 64px;
    }
    .modal__phone-icon{
        line-height: 64px;
        margin-left: 7px;
    }

    .block-header__info{
        margin-left: 170px;
    }
    #block__header-triangle-bottom_two{
        border-top: 30px solid #61221d;
	    border-right: 30px solid transparent;
    }
    #block__header-triangle-bottom_one{
        border-top: 30px solid #e32926;
	    border-right: 30px solid transparent;
    }

}
@media (max-width: 991px) {
    .brand-logo__header{
        width: 240px;
    }
    .block__header{
        padding-top: 32px;
        padding-bottom: 18px;
    }
    .block-header__phone{
        padding-top: 5px;
        font-size: 26px;
        font-weight: 700;

    }
    .block-header__subtitle{
        display: none;
    }
    .brand-logo__phone{
        width: 56px;
        height: 56px;
    }
    .modal__phone-icon{
        line-height: 56px;
        font-size: 42px;
        margin-left: 7px;
    }
    .block-header__info{
        margin-left: 140px;
    }
    #block__header-triangle-bottom_two{
        border-top: 26px solid #61221d;
	    border-right: 26px solid transparent;
    }
    #block__header-triangle-bottom_one{
        border-top: 26px solid #e32926;
	    border-right: 26px solid transparent;
    }
}
@media (max-width: 768px) {
    .block-header__info{
        margin-left: 70px;
    }
}
@media (max-width: 585px) {
    .brand-logo__header{
        width: 200px;
    }
    .block__header{
        padding-top: 22px;
        padding-bottom: 16px;
    }
    .block-header__phone{
        font-size: 22px;
        font-weight: 700;

    }
    .block-header__info{
        margin-left: 60px;
    }
    .brand-logo__phone{
        width: 48px;
        height: 48px;
    }
    .modal__phone-icon{
        line-height: 48px;
        font-size: 34px;
        margin-left: 7px;
    }
    #block__header-triangle-bottom_two{
        border-top: 22px solid #61221d;
	    border-right: 22px solid transparent;
    }
    #block__header-triangle-bottom_one{
        border-top: 22px solid #e32926;
	    border-right: 22px solid transparent;
    }
}
@media (max-width: 475px) {
    .brand-logo__header{
        width: 160px;
    }
    .block-header__phone{
        padding-top: 5px;
        font-size: 18px;
        font-weight: 700;

    }
    .block-header__info{
        margin-left: 50px;
    }
    .brand-logo__phone{
        width: 42px;
        height: 42px
    }
    .modal__phone-icon{
        line-height: 42px;
        font-size: 32px;
        margin-left: 5px;
    }
}
@media (max-width: 425px) {
    .brand-logo__header{
        width: 140px;
    }
    .block-header__phone{
        padding-top: 2px;
        font-size: 18px;
        font-weight: 700;

    }
    .block-header__info{
        margin-left: 40px;
    }
    .brand-logo__phone{
        width: 38px;
        height: 38px;
    }
    .modal__phone-icon{
        line-height: 38px;
        font-size: 28px;
        margin-left: 5px;
    }
    .earphone__sm{
        display: none;
    }
    #block__header-triangle-bottom_two{
        border-top: 20px solid #61221d;
	    border-right: 20px solid transparent;
    }
    #block__header-triangle-bottom_one{
        border-top: 20px solid #e32926;
	    border-right: 20px solid transparent;
    }
}
@media (max-width: 335px) {
    .block-header__phone{
        padding-top: 0px;
    }
    .brand-logo__header{
        width: 120px;
    }
    .block__header{
        padding-top: 22px;
        padding-bottom: 14px;
    }
    .brand-logo__phone{
        width: 32px;
        height: 32px;
    }
    .modal__phone-icon{
        line-height: 32px;
        font-size: 18px;
        margin-left: 7px;
    }
    #block__header-triangle-bottom_two{
        border-top: 16px solid #61221d;
	    border-right: 16px solid transparent;
    }
    #block__header-triangle-bottom_one{
        border-top: 16px solid #e32926;
	    border-right: 16px solid transparent;
    }
}






.block__intro{
    margin-top: 24px;
    margin-bottom: 10px;
}
.block__intro-h1{
    text-transform: uppercase;
    z-index: 2;
    font-size: 70px;
    font-weight: 900;
}
.block__intro-h2{
    text-transform: uppercase;
    z-index: 2;
    font-size: 28px;
    font-weight: 700;
    margin-top: 22px;
}
.block__intro-h3{
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 700;
}
.intro_wall-sm{
    display: none;
}
.intro_wall-lg{
    height: 644px;
    position: absolute;
    bottom: -13px;
    right: 320px;
    z-index: 1;
}
#block-intro__triangle{
    position: absolute;
    bottom: -11px;
    right: 0;
    z-index: 2;
    float: right;
	width: 50%;
	height: 0;
	border-bottom: 45px solid #61221d;
	border-left: 45px solid transparent;
}
@media (max-width: 1920px) {
    .block__intro-h2{
        font-size: 26px;
    }
    .intro_wall-lg{
        height: 640px;
    }
}
@media (max-width: 1818px) {
    .block__intro-h1{
        font-size: 64px;
    }
    .intro_wall-lg{
        right: 13%;
        height: 620px;
    }
}
@media (max-width: 1550px) {
    .intro_wall-lg{
        right: 10%;
    }
}
@media (max-width: 1366px) {
    .intro_wall-lg{
        right: 5%;
    }
}
@media (max-width: 1199px) {
    #block-intro__triangle{
        width: 43%;
    }
    .block__intro-h1{
        font-size: 50px;
    }
    .block__intro-h2{
        font-size: 28px;
    }
    .intro_wall-lg{
        right: 2%;
        height: 610px;
    }
}
@media (max-width: 1100px) {
    .intro_wall-lg{
        right: 1%;
    }
}
@media (max-width: 991px) {
    .block__intro-h1{
        font-size: 40px;
    }
    .intro_wall-lg{
        display: none;
    }
    .intro_wall-sm{
        display: inherit;
        position: absolute;
        bottom: 0;
        width: 400px;
        right: 2%;
    }
    .block__intro-h2{
        font-size: 22px;
    }
    body{
        font-size: 16px!important;
    }
}
@media (max-width: 865px) {
    .intro_wall-sm{
        right: -2%;
    }
}
@media (max-width: 780px) {
    .intro_wall-sm{
        right: -8%;
    }
    .block__intro{
        padding-bottom: 24px!important;
    }
    #block-intro__triangle{
        bottom: -35px;
        width: 75%;
        border-bottom: 35px solid #61221d;
	    border-left: 35px solid transparent;
    }
}
@media (max-width: 720px) {
    .block__intro-h2{
        font-size: 22px;
    }
    .block__intro-h3{
        font-size: 24px;
    }
    body{
        font-size: 14px!important;
    }
    .intro_wall-sm{
        bottom: 0;
        width: 360px;
    }
}
@media (max-width: 680px) {
    .block__intro-h2{
        font-size: 20px;
    }
    .block__intro-h3{
        font-size: 24px;
    }
    body{
        font-size: 14px!important;
    }
    .intro_wall-sm{
        right: -15%;
    }
}
@media (max-width: 650px) {
    .intro_wall-sm{
        right: -21%;
    }
}
@media (max-width: 600px) {
    .block__intro-h1{
        font-size: 34px;
    }
    .intro_wall-sm{
        width: 360px;
        right: -16%;
    }
}
@media (max-width: 580px) {
    .block__intro-h1{
        font-size: 38px;
    }
    .intro_wall-sm{
        width: 300px;
        right: -10%;
    }
}
@media (max-width: 550px) {
    .intro_wall-sm{
        width: 300px;
        right: -8%;
    }
}
@media (max-width: 500px) {
    .block__intro-h1{
        font-size: 34px;
    }
    .block__intro-h2{
        width: 80%;
        font-size: 22px;
    }
    .intro_ul__sm{
        width: 100%;
        margin-top: 140px;
    }
    .intro_wall-sm{
        width: 200px;
        top: 60px;
        right: 10%;
        border-bottom:1px solid #424242;
    }
    #block-intro__triangle{
        width: 55%;
    }
}
@media (max-width: 450px) {
    .block__intro-h1{
        text-transform: none;
        font-size: 32px;
    }
    .intro_ul__sm{
        margin-top: 140px;
    }
}
@media (max-width: 390px) {
    .block__intro-h1{
        font-size: 26px;
        margin-top: 0;
    }
    .block__intro-h2{
        width: 80%;
        font-size: 18px;
    }
    .intro_wall-sm{
        right: 0;
        top: 32px;
    }
    .intro_ul__sm{
        margin-top: 180px;
    }
}
@media (max-width: 350px) {
    .block__intro-h1{
        font-size: 26px;
    }
    .block__intro-h2{
        font-size: 18px;
    }
    .intro_ul__sm{
        margin-top: 180px;
    }
}




.block__lead{
    padding-top: 38px;
    padding-bottom: 38px;
}
.block__lead-call-action{
    font-size: 24px;
}
.block__lead-ul{
    font-size: 22px;
}
.block__lead-inputs{
    margin-top: -20px;
}
.block__lead-btn1{
    margin-top: 12px;
}
.block__lead-btn2{
    padding-left: 64px;
}
.block__lead-btn-width{
    width: 290px;
}
.block__lead-btn-sm{
    display: none;
}
@media (max-width: 1199px) {
    .block__lead-btn2{
        padding-left: 14px;
    }
    .block__lead-btn-width{
        width: 233px;
    }
    .block__lead-ul{
        font-size: 20px;
    }
    .block__lead-call-action{
        font-size: 20px;
    }
}
@media (max-width: 991px) {
    .block__lead-inputs{
        margin-top: 18px;
        margin-bottom: 18px;
    }
    .block__lead-ul{
        font-size: 18px;
    }
    .block__lead-btn2{
        display: none;
    }
    .block__lead-btn-sm{
        margin-top: 12px;
        display: inherit;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .block__lead-inpt{
        width: 100%;
    }
    .asdddd{
        width: 100%;
    }
}
@media (max-width: 500px) {
    .block__lead-ul{
        font-size: 16px;
    }
    .block__lead-call-action{
        font-size: 16px;
    }
}
@media (max-width: 400px) {
    .block__lead-btn-sm{
        display: none;
    }
    .block__lead-btn2{
        display: inherit;
        margin-left: 12px;
    }
}





.block-team{
    max-width: 880px;
}
.block-team__content{
    padding-top: 32px;
}
.thumbnail{
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
}
.thumbnail img{
    -webkit-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    width: 255px;
}
@media (max-width: 767px) {
    .thumbnail__sm{
        padding-left: 25%;
        padding-right: 25%;
    }
    .thumbnail img{
        width: 100%;
    }
}
@media (max-width: 560px) {
    .thumbnail__sm{
        padding-left: 20%;
        padding-right: 20%;
    }
}
@media (max-width: 420px) {
    .thumbnail__sm{
        padding-left: 15%;
        padding-right: 15%;
    }
}








.cards-slider {
    overflow: hidden;
	white-space: nowrap;
	max-width: 1100px;
	height: 100%;
    width: 100%;
	position: relative;
	display: inline-block;
    background: none;
    margin-top: 25px;
    margin-bottom: 35px;
}

.card {
    float: left !important;
	text-align: center;
    width: 25%;
	position: relative;
	display: inline-block;
	left: 0;
	clear: both;
    margin-right: 4%;
    margin-left: 4%;
	float: none !important;
	transition: transform .2s ease-in-out;
	vertical-align: top;
}

.card .title {
  font-weight: 600;
  font-size: 18px;
}

.card .desc {
  font-size: 14px;
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.card img {
  display: block;
  position: relative;
  width: 100%;
}

.slider-btn {
  padding: 0;
  font-size: 20px;
  text-align: center;
  color: #fff;
  width: 45px;
  height: 100%;
  border: 0;
  cursor: pointer;
  background: none;
  outline: none;
  position: absolute;
  z-index: 999;
  transition: all 0.6s ease 0s;
}

.slider-btn:hover {
  color: #5f5f5f;
  background: rgba(0,0,0,0.2);
}

.btn-r {
  right: 0;
}
.btn-l {
  left: 0px;
}

@media (max-width: 1030px) {
    .card {
        width: 28%;
        clear: both;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}
@media (max-width: 767px) {
    .card {
        width: 45%;
        clear: both;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
}
@media (max-width: 490px) {
    .card {
        width: 95%;
        clear: both;
        margin-right: 2.5%;
        margin-left: 2.5%;
    }
    .cards-slider{
        width: 100%;
    }
}







.block-contact{
    padding-bottom: 54px;
}
.ya-maps__border{
    border: 16px solid #fff;
    padding-left: 0;
    padding-right: 0;
}
.block-contact__content{
    padding-top: 32px;
}
@media (min-width: 768px) {
    .block-contact__address-list{
        padding-top: 5%;
        padding-bottom: 0;
    }
}
@media (max-width: 768px) {
    .block-contact__content{
        padding-bottom: 0!important;
    }
    .block-contact__address-list{
        padding-top: 0;
        padding-bottom: 24px;
    }
    .block-contact{
        padding-bottom: 0;
    }
}









.block__portfolio_wall{
    background: no-repeat center center;
    background-blend-mode: soft-light;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}
#block-portfolio__triangle-top{
    width: 45%;
	height: 0;
	border-top: 40px solid #fff;
	border-right: 45px solid transparent;
}
#block-portfolio__triangle-bottom{
    float: right;
	width: 35%;
	height: 0;
	border-bottom: 40px solid #fff;
	border-left: 45px solid transparent;
}
#block-contacts__triangle{
    width: 45%;
	height: 0;
	border-top: 40px solid #fff;
	border-right: 45px solid transparent;
}
#block-lead__triangle-bottom{
    float: right;
	width: 35%;
	height: 0;
	border-bottom: 36px solid #fff;
	border-left: 45px solid transparent;
}







body{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}
.container-fluid{
    max-width: 1950px;
}
.no-padding{
    padding: 0;
}
.no-magrin{
    margin: 0;
}
.text-left{
    text-align: left;
}

.text-color__bright-red{
    color: #e32926;
}
.text-color__gray{
    color: #9c9e9e;
}
.text-color__white{
    color: #f7f7f7;
}
.text-color__blood-red{
    color: #61221d;
}
.background-color__blood-red {
    background-color: #61221d;
}
.background-color__bright-red {
    background-color: #e32926;
}
.background-color__gray {
    background-color: #ececec;
}
.no-border{
    border: none;
}

ul {
    list-style: none;
    margin-left: 10px;
    padding-left: 0;
}
li {
    padding-left: 1em;
    text-indent: -1em;
    font-weight: 700;
}
li:before {
    content: "";
    padding-right: 5px;
}
.glyphicon{
    padding-right: 15px;
}
@media (max-width: 991px) {
    .glyphicon{
        padding-right: 8px;
    }
}
.btn {
    border-radius: 0;
    padding: 12px 24px;
    -webkit-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px -1px rgba(0,0,0,0.75);

}
.btn-default:disabled{
    color: #000;
    font-weight: 700;
}
.btn-default:disabled:hover{
    color: #000;
    font-weight: 700;
}
.btn-default{
    background: linear-gradient(to right,#e42619 0,#fd670e 100%);
    color: #fff;
    font-size: 17px;
    text-shadow: none;
    border: none;
    font-weight: 700;
}
.btn-default:hover{
    background-image: linear-gradient(to left,#e42619 0,#fd670e 100%);
    color: #fff;
}
.notification-info{
    background-color: #e42619!important;
    -webkit-border-radius: none!important;
    -moz-border-radius: none!important;
    border-radius: none!important;
}
.notification-info {
    border:3px solid #fff!important;
    border-radius: 0px!important;
}

.block-feedback{
    padding-top: 24px;
    padding-bottom: 42px;
}
.block-feedback__content{
    padding-top: 20px;
}
.form-control{
    border-radius: 0;
    resize: none;
    height: 30px;
}
.form-textarea{
    min-height: 150px;
    border: 1px solid #999;
    padding: 8px;
    color: #595959;
}
.form-textarea:focus{
    box-shadow: none;
    border-color: #61221d;
    outline: 0;
}
.form-control{
    border: 1px solid #999;
}
.form-control:focus{
    box-shadow: none;
    border-color: #61221d;
    outline: 0;
}
.form-textarea:active{
    box-shadow: none;
    border-color: #61221d;
}
.has-success .checkbox,
.has-success .checkbox-inline,
.has-success .control-label,
.has-success .help-block, .has-success,
.radio, .has-success .radio-inline,
.has-success.checkbox label,
.has-success.checkbox-inline label,
.has-success.radio label, .has-success.radio-inline label {
    color: #9c9e9e;
}
.has-success .form-control{
    border-color: #999;
    color: #2b542c;
    font-weight: 700;
}
.has-success .form-control:focus{
    border-color: #999;
    box-shadow: none;
    color: #2b542c;
    font-weight: 700;
}

.block__footer{
    padding-top: 24px;
    padding-bottom: 24px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus{
    outline: 0;
}
.close:focus{
    outline: 0;
}
.madblackpixels{
    font-weight: 700;
}

h2{
    font-weight: 700;
    font-size: 38px;
    margin-top: 36px;
    text-transform: uppercase;
}
@media (max-width: 991px) {
    h2{
        font-size: 32px;
    }
}
@media (max-width: 750px) {
    h2{
        font-size: 26px;
    }
}
@media (max-width: 600px) {
    h2{
        font-size: 22px;
    }
}
@media (max-width: 380px) {
    h2{
        font-size: 20px;
    }
}
.modal-content{
    border-radius: 0px;
}
h4{
    font-weight: 700;
    font-size: 22px;
}
h5{
    font-size: 18px;
}

#link{
    -webkit-animation: roistat-lh-circle-anim 2.2s infinite ease-in-out;
    -moz-animation: roistat-lh-circle-anim 2.2s infinite ease-in-out;
    -ms-animation: roistat-lh-circle-anim 2.2s infinite ease-in-out;
    -o-animation: roistat-lh-circle-anim 2.2s infinite ease-in-out;
    animation: roistat-lh-circle-anim 2.2s infinite ease-in-out;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}

.olp .checkbox {
    margin-right: 8px;
}
.olp .checkbox label{
    line-height: 12px;
}
.olp input[type=checkbox]{
    margin-top: 5px;
}
.modal-policy{
    font-size: 14px;
}

@media (max-width: 610px) {
    .modal-btn{
        margin-top: 18px;
    }
    .modal-phone{
        width: 100%;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 16px;
    }
    .modal-policy{
        font-size: 10px;
    }
}

.policy-subtitle{
    padding-top: 18px;
}
a img{
    cursor: pointer;
}
.modal-backdrop.in{
    opacity: .2;
}





@media (min-width: 5000px) {
    .modal_phone{
        right: 36%;
    }
}
@media (max-width: 4999px) {
    .modal_phone{
        right: 33%;
    }
}
@media (max-width: 3950px) {
    .modal_phone{
        right: 30%;
    }
}
@media (max-width: 3299px) {
    .modal_phone{
        right: 28%;
    }
}
@media (max-width: 2999px) {
    .modal_phone{
        right: 26%;
    }
}
@media (max-width: 2789px) {
    .modal_phone{
        right: 24%;
    }
}
@media (max-width: 2559px) {
    .modal_phone{
        right: 22%;
    }
}
@media (max-width: 2359px) {
    .modal_phone{
        right: 20%;
    }
}
@media (max-width: 2200px) {
    .modal_phone{
        right: 18%;
    }
}
@media (max-width: 2050px) {
    .modal_phone{
        right: 16%;
    }
}
@media (max-width: 1950px) {
    .modal_phone{
        right: 14%;
    }
}
@media (max-width: 1850px) {
    .modal_phone{
        right: 12%;
    }
}
@media (max-width: 1750px) {
    .modal_phone{
        right: 10%;
    }
}
@media (max-width: 1650px) {
    .modal_phone{
        right: 8%;
    }
}
@media (max-width: 1570px) {
    .modal_phone{
        right: 6%;
    }
}
@media (max-width: 1480px) {
    .modal_phone{
        right: 2.5%;
    }
}

@media (max-width: 400px) {
    .block-feedback__button button, .lead_btn{
        font-size: 14px;
    }
}

a:hover{
    color: #e42619;
}